@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 80px;">
    <h1 class="display-4">Welcome to the demo weather app!</h1>
    <img src="~/images/sunshine.jpg" alt="Sunshine" width="350" style="margin-top: 80px;" />
</div>


